<html>
    <head>
        <title>Lending Section</title>
        <style type = "text/css">
            *
            {
                background-color: brown;
            }
        </style>
    </head>
    <body>
        <h1>{{ name }}'s Books<h1><br>
        {% if lent_books %}
            {% for book in lent_books %}
                {% for detail in book %}
                    {{ detail }},
                {% endfor %}
                <br>
            {% endfor %}
        {% endif %}

        <form id='form' action = '/lend_another_book' method = 'POST'>
            <button type = 'submit'>Lend another book</button>
        </form>

    </body>

</html>