<!DOCTYPE html>
<html>
    <head>
        <title>Sign up</title>
        <link rel="stylesheet"  href="signup.css">
    </head>
    <body style="background:url(https://egranthalaya.nic.in/images/2.jpg) no-repeat; background-size:cover;">
        <div class="signbox">
            <form id="form1" action="" method="post">
                <h1>Sign Up</h1>
                <p class="name">Name</p>
                <input type="text" name="Fname" placeholder="First Name" class="ipt" required>
                <input type="text" name="Lname" placeholder="Last Name" class="ipt" required><br><br>
                <p class="pass">Email address<p>
                <input type="text" name="email" placeholder="abc@xyz.com" class="eml" required><br>
                <p class="pass">Password</p>
                <input type="password" name="password" placeholder="Password" class="pwd" required>
                <input type="password" name="Confirm_password" placeholder="Confirm Password" class="pwd" required><br><br><br>
                <p class="pass">Address</p>
                <input type="text" name="Street" placeholder="Street / Locality" class="street" required>
                <input type="text" name="City" placeholder="City" class="city" required><br><br>
                <input type="text" name="State" placeholder="State" class="state" required>
                <input type="text" name="Country" placeholder="Country" class="country" required><br><br><br>
                <p class="pass">Contact Number</p>
                <input type="text" name="Phone" placeholder="Contact Number" class="phno" required><br><br><br><br>
                <button type="submit" style='margin-right:16px' class="b1">Submit</button>
                <button type="reset" style='margin-right:16px' Class="b2">Cancel</button>
            </form>
        </div>
    </body>
</html>
